label[for="name"]
{
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}
.content1{
 font-size:25px;
  color:white;
  background-color: lightgreen;
  display: flex;
  max-width: 200;
  padding: auto;
}
